<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
<p>Niva Donga</p>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>
<p><b>Objectives:</b><p>
    <ul>
    <li> popular languages that Data Scientists use</li>
    <li>commonly used Data Science Libraries</li>
    <li>Tools used for Data Science</li>
    <li>Some Practise Calculations</li>
   </ul>

<p>Some of the popular languages that Data Scientists use are:</p>
  <ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
    <li>SQL</li>
   </ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
  <ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Scikit</li>
   </ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
     <td>R Studio</td>
  </tr>
  <tr>
    <td>microsoft visual studio</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [10]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335